{% extends "/bases/layout_admin.jinja2" %}
{% block content %}

{{h.form('')}}
    {{form.render()|safe}}

    <div class="actions">
        {{h.submit('submit', 'Salvar Rascunho', class_='btn')}}
        {{h.submit('submit', 'Publicar', class_='btn success')}}
        <input type="button" value="Cancelar" class="btn danger" onclick="window.location='{{url_base|route_url}}'">
    </div>
{{h.end_form()}}

<div id="bobafett"></div>

<script type="text/javascript">
    $('#Post--title').keydown(function(event){
        if (event.which == '9') {
            $('#Post--alias').focus();

            $.get(
                "{{'post_action'|route_url(action='titlelize')}}"+'?title='+$('#Post--title').val(), 
                function(data) {
                    $('#Post--alias').val(data);
                }
            );
        }
    });

    $('#Post--title').blur(function(){
        $.get(
            "{{'post_action'|route_url(action='titlelize')}}"+'?title='+$('#Post--title').val(), 
            function(data) {
                $('#Post--alias').val(data);
            }
        );
    });
</script>

{% endblock %}
