{% extends "/bases/layout_blog.jinja2" %}
{% block content %}

<div class="content-block">
    <h1>{{h.link_to(post.title, h.post_link(post))}}</h1>
    
    <span class="post-info">
        <img src="{{resource('images/icons/calendar-16.png')}}" alt="Data de Postagem" height="12px">
        {{h.pdate(post.date)}} às {{h.ptime(post.date)}} por Renatopp
    </span>

    <div class="blog-entry">
        {{rest(post.content)|safe}}
    </div>
</div>

{% endblock %}