{% if (items|length) %}
    <table class="zebra-striped">
        {{grid.render()|safe}}
    </table>

    <div class="pagination center">
        {{h.paginate(items)}}
    </div>
{% else %}
    Nenhum item cadastrado
{% endif %}