<div id="blog-footer">
    <div class="container">
        <div class="row">
            <div class="span2" style="text-align:left">
                <br>
                <br>
                <ul>
                    <li><strong>Renatopp.com</strong></li>
                    <ul>
                        <li>{{h.link_to('Blog', 'home'|route_url)}}</li>
                        <li>{{h.link_to('Artigos', 'article'|route_url)}}</li>
                        <li>{{h.link_to('Snippets', 'snippet'|route_url)}}</li>
                        <li>{{h.link_to('Sobre', 'page'|route_url(alias='sobre'))}}</li>
                    </ul>
                </ul>
            </div>
            <div class="span2" style="text-align:left">
                <br>
                <br>
                <ul>
                    <li><strong>Comunidades</strong></li>
                    <ul>
                        <li>{{h.link_to('Python', 'http://www.python.org.br')}}</li>
                        <li>{{h.link_to('Pylons', 'http://pylonsproject.org')}}</li>
                        <li>{{h.link_to('Opensuse', 'http://pt.opensuse.org/')}}</li>
                        <li>{{h.link_to('Peach', 'http://code.google.com/p/peach')}}</li>
                    </ul>

                    <li><strong>Projetos</strong></li>
                    <ul>
                        <li>{{h.link_to('Batma', 'page'|route_url(alias='batma'))}}</li>
                    </ul>
                </ul>
            </div>
            <div class="span8">
                <br>
                {% include "/includes/twitter_bar.jinja2" %}
            </div>
            <div class="span4">
                <br>
                <br>
                <a href="http://pylonsproject.org/"><img src="{{resource('images', 'layouts', 'powered-pyramid.png')}}"></a>
                <br>
                <br>
                <a href="http://python.org/"><img src="{{resource('images', 'layouts', 'powered-python.png')}}"></a>
                <br>
                <br>
                <a href="http://creativecommons.org/licenses/by/3.0/"><img src="{{resource('images', 'layouts', 'powered-cc.png')}}"></a>
            </div>
        </div>
    </div>
</div>
