{{h.stylesheet_link(resource('css', 'reset.css'))}}
{{h.stylesheet_link(resource('css', 'form.css'))}}
{{h.stylesheet_link(resource('css', 'global-style.css'))}}

{{h.javascript_link(resource('js', 'jquery-1.6.2.js'))}}

{{h.stylesheet_link(resource('js', 'gritter', 'css', 'jquery.gritter.css'))}}
{{h.javascript_link(resource('js', 'gritter', 'jquery.gritter.js'))}}