<div id="blog-super-header">
    <div class="container">
        <div class="row">
            <div class="span4 left">renatopp.com</div>
            <div class="span12 right">
                <a href="http://twitter.com/renatopp"><img src="{{resource('images', 'icons', 'twitter-32.png')}}" height="18"></a>
                <a href="http://www.facebook.com/people/Renato-Pereira/100000054421290"><img src="{{resource('images', 'icons', 'facebook-32.png')}}" height="18"></a>
                <a href="{{'feed'|route_url()}}"><img src="{{resource('images', 'icons', 'rss-32.png')}}" height="18"></a>
                <!-- <input id="search-input" type="text"> -->
                <!-- <input id="search-button" type="submit" value=" "> -->
            </div>
        </div>
    </div>
</div>

<div id="blog-header">
    <div class="container">
        <div class="row">
            <div id="blog-title" class="span4">
                <a href="{{'home'|route_url}}">Renatopp</a>
            </div>

            <div id="blog-menu" class="span12">
                <ul class="pills">
                    <li class="active">{{h.link_to('Blog', 'home'|route_url)}}</li>
                    <li>{{h.link_to('Artigos', 'article'|route_url)}}</li>
                    {#<li>{{h.link_to('Snippets', 'snippet'|route_url)}}</li>#}
                    <li>{{h.link_to('Sobre', 'page'|route_url(alias='sobre'))}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>