{{h.stylesheet_link(resource('css', 'bootstrap.min.css'))}}
{{h.stylesheet_link(resource('css', 'global.css'))}}

{{h.javascript_link(resource('js', 'jquery-1.6.2.js'))}}
{{h.stylesheet_link(resource('js', 'gritter', 'css', 'jquery.gritter.css'))}}
{{h.javascript_link(resource('js', 'gritter', 'jquery.gritter.js'))}}
{{h.javascript_link(resource('js', 'weblog.js'))}}