<div class="box">
    <div style="text-align:center">
        <a href="/users">Users</a> | 
        <a href="/posts">Posts</a> |
        <a href="/snippets">Snippets</a> |
        <a href="/tags">Tags</a>
    </div>
</div>

<div class="box">
    <h2>Quem vos fala...</h2>
    
    <div style="text-align:center"><img src="{{resource('images', 'blogs', 'avatar-xbox.png')}}"></div>

    <p>Renato é um mestrando em computação, programador colaborador e ativista do movimento de software livre e open source.</p>
</div>

<div class="box">
    <h2>Comunidades</h2>

    <ul>
        <li><strong>Python</strong</li>
        <ul>
            <li>{{h.link_to('Python Brasil', 'http://www.python.org.br')}}</li>
            <li>{{h.link_to('Python.org', 'http://www.python.org')}}</li>
            <li>#python-br (freenode.net)</li>
        </ul>

        <li><strong>Pylons</strong</li>
        <ul>
            <li>{{h.link_to('Lista Pylons-Brasil', 'http://groups.google.com/group/pylons-brasil')}}</li>
            <li>{{h.link_to('Pylons Project', 'http://pylonsproject.org')}}</li>
            <li>#pylons-br (freenode.net)</li>
        </ul>

        <li><strong>OpenSUSE</strong</li>
        <ul>
            <li>{{h.link_to('Wiki Opensuse PT', 'http://pt.opensuse.org/')}}</li>
            <li>{{h.link_to('Fórum OpenSUSE Brasil', 'http://susebr.org')}}</li>
            <li>#opensuse-pt (freenode.net)</li>
        </ul>

        <li><strong>Peach</strong</li>
        <ul>
            <li>{{h.link_to('Página do projeto', 'http://code.google.com/p/peach')}}</li>
        </ul>
    </ul>
</div>
{#
<div class="box">
    <h2>Projetos Recentes</h2>

    <ul>
    {% for project in context['last_projects']|reverse %}
        <li>{{h.link_to(project.name, project.html_url, rel='tip-left', alt=project.description)}}</li>
    {% endfor %}
    </ul>

</div>
#}
<div class="box">
    <h2>Social</h2>

    <div style="text-align: center; padding-bottom:5px">
        <a href="http://twitter.com/renatopp"><img src="{{resource('images', 'icons', 'twitter-128.png')}}" alt="Twitter!" height="64"></a>
        <a href="http://www.facebook.com/people/Renato-Pereira/100000054421290"><img src="{{resource('images', 'icons', 'facebook-128.png')}}" alt="Facebook!" height="64"></a>
        <a href="https://plus.google.com/105801468204826311419"><img src="{{resource('images', 'icons', 'google-128.png')}}" alt="Google!" height="64"></a>
    </div>
</div>

<div class="box">
    <h2>Blogroll</h2>

    <ul>
        <li>{{h.link_to('Cozinha Alcool', 'http://cozinhaalcoolrnr.blogspot.com/')}}</li>
        <li>{{h.link_to('Cuizcuiz Cast', 'http://cuizcuiz.com/')}}</li>
        <li>{{h.link_to('Denis Piazentin', 'http://piazentin.com/')}}</li>
        <li>{{h.link_to('Diaspar', 'http://diaspar.blogspot.com/')}}</li>
        <li>{{h.link_to('Física na veia', 'http://fisicamoderna.blog.uol.com.br/')}}</li>
        <li>{{h.link_to('Foobar + h2o', 'http://pythonlog.wordpress.com/')}}</li>
        <li>{{h.link_to("Nebulosa Nerd's Bar", 'http://nebulosabar.com/')}}</li>
        <li>{{h.link_to('Nerdson', 'http://nerdson.com/')}}</li>
        <li>{{h.link_to('Rauhmaru', 'http://rauhmaru.blogspot.com/')}}</li>
        <li>{{h.link_to('Rochacbruno', 'http://rochacbruno.com.br/')}}</li>
        <li>{{h.link_to('Ryot IRAS', 'http://ryotiras.com/')}}</li>
    </ul>
</div>
