<script type='text/javascript' src='http://ajax-based-twitter-status-loader.googlecode.com/files/twitter-loader-ajax-minified-v1.js'></script>


<div>
    <div id="twitter-bar">
        <img src="{{resource('images', 'icons', 'loading-32.gif')}}"/>
    </div>
</div>
<script type="text/javascript">
    recentTwitterLoader({
        'TwitName':'renatopp',
        'TwitCount':3,
        'ulClass':'twitter-ul',
        'containerID':'#twitter-bar',
        'onLoad':false
    });
</script>