<thead>
  <tr>
    {% for field in collection.render_fields.itervalues() %}
      <th>{{field.label_text or collection.prettify(field.key)|safe}}</th>
    {% endfor %}
  </tr>
</thead>

<tbody>
 {% for row in collection.rows %}
  <% collection._set_active(row) %>
  <% row_errors = collection.get_errors(row) %>
  <tr>
  {% for field in collection.render_fields.itervalues() %}
    <td>
      {{field.render()|safe}}
      {% for error in row_errors.get(field, []) %}
        <span class="grid_error">{{error}}</span>
      {% endfor %}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</tbody>
