<!DOCTYPE HTML>
<html>
<head>
    <title>Titulo</title>
    {% include "/includes/header_imports.jinja2" %}
    {{h.stylesheet_link(resource('css', 'blog.css'))}}

    <script type="text/javascript" >
       $(document).ready(function() {
       });
    </script>
</head>

<body>
    {% include "/includes/flash.jinja2" %}
    
    <div id="blog-wrap">
        {% include "/includes/header.jinja2" %}

        <div id="blog-main" class="container">
            <div class="row">
                <div id="blog-content" class="span12">

                    <!-- <span class="label success">New</span> -->
                    <a href="/users">Users</a> | <a href="/posts">Posts</a> | 
                    <a href="/tags">Tags</a><br>
                    {% block content %}

                    {% endblock %}
                </div>

                <div id="blog-sidebar" class="span4">
                lol
                </div>
            </div>
        </div>

    </div>

    {% include "/includes/footer.jinja2" %}

    
    {% include "/includes/footer.jinja2" %}

</body>
</html>