<!DOCTYPE HTML>
<html>
<head>
    <title>Titulo</title>
    {% include "/includes/header_imports.jinja2" %}
    {{h.stylesheet_link(resource('css', 'blog.css'))}}
    {{h.stylesheet_link(resource('css', 'pygments', 'pygments_tango.css'))}}
    {{h.javascript_link('https://apis.google.com/js/plusone.js')}}
    {{h.javascript_link('http://connect.facebook.net/en_US/all.js#xfbml=1')}}

    <script type="text/javascript" >
        $(document).ready(function() {
            $('a[rel="tip-left"]').twipsy({title:'alt', placement:'left'});
        });
    </script>
</head>

<body>
    {% include "/includes/flash.jinja2" %}
    
    <div id="blog-wrap">
        {% include "/includes/header.jinja2" %}

        <div id="blog-main" class="container">
            <div class="row">
                <div id="blog-content-wrap" class="span12">
                    {% block content %}

                    {% endblock %}
                </div>

                <div id="blog-sidebar" class="span4">
                    {% include "/includes/sidebar.jinja2" %}
                </div>
            </div>
        </div>

    </div>

    {% include "/includes/footer.jinja2" %}

</body>
</html>