<!DOCTYPE HTML>
<html>
<head>
    <title>Titulo</title>
    {% include "/includes/header_imports.jinja2" %}
    {{h.stylesheet_link(resource('css', 'pygments', 'pygments_tango.css'))}}
    {{h.stylesheet_link(resource('js', 'markitup', 'skins', 'simple', 'style.css'))}}
    {{h.stylesheet_link(resource('js', 'markitup', 'sets', 'rst', 'style.css'))}}
    {{h.javascript_link(resource('js', 'markitup', 'sets', 'rst', 'set.js'))}}
    {{h.javascript_link(resource('js', 'markitup', 'jquery.markitup.js'))}}
    {{h.javascript_link(resource('js', 'jquery.corner.js'))}}
    {{h.stylesheet_link(resource('css', 'admin.css'))}}

    <script type="text/javascript" >
       $(document).ready(function() {
            //align_footer();
            $(".markitup").markItUp(mySettings);
            $(".field_error").corner('bottom');
       });
    </script>
</head>

<body>
    {% include "/includes/flash.jinja2" %}
    <div id="blog-wrap">
        {% include "/includes/header.jinja2" %}

        <div id="blog-main" class="container">
            <div class="row">
                <div id="blog-content-wrap" class="span16">
                    <div id="blog-content" style="text-align:center">
                        <a href="/users">Users</a> | 
                        <a href="/posts">Posts</a> |
                        <a href="/posts?type=page">Pages</a> |
                        <a href="/snippets">Snippets</a> |
                        <a href="/tags">Tags</a> |
                        <a href="/users/logout">Sair</a>
                    </div>

                    <br>

                    <div id="blog-content">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>